.text-light {
    font-size: 36px;
    background-color:rgb(28, 172, 86);
}

.text-secondary {
    font-size: 36px;
    background-color:rgb(242, 165, 152);
}

.logo {
    margin-right: 20px;
}

#gum, #recorded {
    width: 600px;
    min-height: 360px;
    background-color: #444;
    border-radius: 15px;
    border: 10px solid white;
    -webkit-box-shadow: 1px 0px 18px -4px rgba(0,0,0,0.8); 
    box-shadow: 1px 0px 18px -4px rgba(0,0,0,0.8);
    margin: 15px;
}

.media-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 1rem;
}

#source-text {
    width: 600px;
    height: 360px;
    border-radius: 15px;
    border: none;
    -webkit-box-shadow: 1px 0px 18px -4px rgba(0,0,0,0.8); 
    box-shadow: 1px 0px 18px -4px rgba(0,0,0,0.8);
    padding: 20px;
    font-size: 24px;
    margin: 15px;
}

.recognized {
    width: 100%;
    min-height: 320px;
    margin-top: 20px;
    background-color: lightgray;
    padding: 10px;
}

.media-buttons {
    text-align: center;
}